@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Noto+Sans:wght@300;400;500;600&family=Open+Sans:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Merriweather", serif;
}

#home-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #c6785e;
}

#content-wrapper {
  position: relative;
}

.homeImg {
  width: 100%;
  opacity: 0.9;
  object-fit: cover;
}

.main {
  display: flex;
  width: 100%;
  position: relative;
}

#textC {
  position: absolute;
  z-index: 20;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  background-color: rgba(54, 51, 48, 0.7);
}

#textC p {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}

#searchForm {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  label {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    font-weight: 400;
  }

  margin-bottom: 0.5rem;
  flex-wrap: wrap;
}

#looking-for {
  display: flex;
  gap: 1rem;
  align-items: center;
  input {
    border: 0px;
    width: 1rem;
    height: 2rem;
  }
}
#age {
  display: flex;
  gap: 1rem;
  align-items: center;
  input {
    width: 65px;
    height: 1.5rem;
  }
}
#native-place {
  display: flex;
  gap: 1rem;
  align-items: center;

  input {
    width: 125px;
    height: 1.5rem;
  }
}

#find {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(120, 10, 10);
  color: #e4d8c5;
  font-weight: 300;
  cursor: pointer;
}
#find:hover {
  background-color: rgb(84, 8, 8);
}
#about {
  z-index: 100;
  margin-top: 1.5rem;
}
#about p {
  margin-bottom: 0.6rem;
}
.dash {
  width: 60px;
  background-color: #a80228;
  height: 0.2rem;
  border: 1px solid #a80228;
  margin: auto;
}
#success {
  display: flex;
}

@media (max-width: 600px) {
  #home-wrapper {
    height: 100vh;
  }
  #textC {
    height: max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
