#email {
    width: 80%;
    height: 1.8rem;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: auto;
}



#contactField {
    margin-top: auto;
}

#contact {
    width: 80%;
    height: 1.8rem;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: auto;
}

#password {
    width: 80%;
    height: 1.8rem;
    padding: 1rem;
    font-size: 1rem;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;
    margin-left: auto;
}

.regdiv{
    display: flex;
    flex-direction: column;
row-gap: 5px;
}

#emailField,
#contactField,
#contactField{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


@media (max-width:600px) {
    #emailField,
#contactField,
#contactField{
flex-direction: column;
margin-left: 0;
}
#email,
#contact,
#password{
    margin-left: 0;
    width: 100%;
}
}