/* components/Login/Login.css */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  color: black;
}

.login-form {
  background: #fff;
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 210;
  cursor: auto;
  border-radius: 5px;
}

#login-heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#email-div label,
#password-div label {
  font-size: 1.1rem;
}

#email-div input,
#password-div input {
  width: 100%;
  height: 1.8rem;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 1rem;
}

.login-btn {
  cursor: pointer;
  width: 100%;
  margin-top: 0.8rem;
  padding: 0.5rem;
  background-color: #a80228;
  border: 1px solid #a80228;
  border-radius: 5px;
  color: white;
  margin-bottom: 1rem;
}

.create-profile-link {
  color: #a80228;
  cursor: pointer;
}

@media (max-width: 600px) {
  .login-form {
    width: 90%;
  }
}
